header, h4 {
  background-image: url("../images/background-picture.png");
  text-align: center;
}

header, a, h4, footer {
  color: white;
}

body {
  text-align: center;
}

footer {
  text-align: left;
  background-color: dimgray;

}
